{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}">

<div class="container">
    {% if user_role == 'student' %}
        {% for group in user_groups %}
            <h1>{{ group.name }}</h1>
            <div class="courses-container">
                {% for course in group.courses.all %}
                    <div class="course-block">
                        <h2>{{ course.title }}</h2>
                        <p>{{ course.teacher.first_name }} {{ course.teacher.last_name }}</p>
                        <p>{{ course.description }}</p>
                        <a href="{% url 'course_detail' course.id %}" class="btn">Перейти до курсу</a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% elif user_role == 'teacher' %}
        <h1>Курси, які ви викладаєте</h1>
        <div class="courses-container">
            {% for course in courses %}
                <div class="course-block">
                    <h2>{{ course.title }}</h2>
                    <p>{{ course.description }}</p>
                    <a href="{% url 'course_detail' course.id %}" class="btn">Перейти до курсу</a>
                </div>
            {% endfor %}
            <div class="course-block new-course">
                <a href="{% url 'create_course' %}" class="btn btn-primary">Створити курс</a>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
